.header svg {
    width: 56px;
    height: 32px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #595959;
    padding: 10px;
    text-align: center;
    border-radius: 61px;
    height: 40px;
    margin: auto;
    position: sticky;
    top: 20px;
    background: #fff9ed6b;
    box-shadow: inset 0 0 20px 2px #00000063;
    backdrop-filter: blur(5px);
}

.header h1{
    font-size: 15px;
    color: #000000;
    margin: unset;
    text-shadow: 1px -1px 4px #694b4b;
}

.header ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
font-size: 18px;
}

.header li {
  display: inline-block;
  margin-right: 10px;

}

.header li a {
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  text-shadow: 1px -1px 4px #694b4b;
}

.menu-toggle {
    display: none;
}

.header li a:hover {
    color: #000000ab;
}

.header .logo {
    height: 23px;
    width: 57px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 390px) {
    .header ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        background: white;
        width: 100%;
    }

    ul.show {
        display: flex;
        width: 96px;
        position: absolute;
        right: 39px;
        box-shadow: inset 0 0 12px black;
        top: 45px;
        border-radius: 12px;
        padding: 16px;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .notification {
        backdrop-filter: blur(3px);
        margin: 0 -71px !important;
        background: #ffffff70;
    }

}

